<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="catalogrulegrid_data_source" xsi:type="string">FreireH\CatalogRuleGrid\Model\ResourceModel\RuleGrid\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="FreireH\CatalogRuleGrid\Model\ResourceModel\RuleGrid\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">catalogrule</argument>
            <argument name="resourceModel" xsi:type="string">FreireH\CatalogRuleGrid\Model\ResourceModel\RuleGrid</argument>
        </arguments>
    </virtualType>
</config>
